.App {
  text-align: center;
  background-color: rgb(236, 228, 228);
  padding: 20px;
}

.product-item {
  margin: auto;
}
.products-list {
  display: flex;
  justify-content: center;
}

li {
 list-style: none;
}

ul {
  padding:  0;
}
.product-items-wrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.comments {
  padding: 20px;
  margin: 5px;
  background-color: rgb(241, 232, 232);
}

@media screen and (max-width: 1200px) {
  .products-list {
    flex-direction: column;
  }
}